@font-face {
    font-family: 'Adlery Pro';
    src: url('/fonts/adlery-pro.swash.eot'); /* IE9 Compat Modes */
    src: url('/fonts/adlery-pro.swash.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/adlery-pro.swash.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/AdleryPro-Swash.woff') format('woff'), /* Pretty Modern Browsers */
    url('/fonts/AdleryPro-Swash.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('/fonts/AdleryPro-Swash.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* Colors */
@black: #2a2a2a;
@white: #eee;
@beige: #d5d6d0;
@highlight: #a85213;
@dark-beige: #b5b6b1;

@seconds: .33s;

.heading-font() {
    font-family: 'Adlery Pro', serif;
}

.reading-font() {
    font-family: 'Josefin Sans', sans-serif;
}

.transition() {
    transition-duration: @seconds;
    transition-timing-function: ease-in-out;
}

html {
    font-size: 62.5%;
}

body {
    background-color: @beige;
    color: @black;
    font-size: 1.4rem;
    .reading-font;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1, h2, h3 {
    .heading-font;
}

h1 {
    font-size: 7.2rem;
}

h2, h3, h4, h6 {
    text-align: center;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3.6rem;
}

h4, h5, p {
    // font-size: 1.6rem;
    line-height: 1.5;
}

h4, p {
    font-weight: 300;
}

h6 {
    font-size: 2.4rem;
    font-weight: 400;
}

p {
    margin-bottom: 20px;
    margin-top: 0;
    max-width: 480px;

    &.small {
        font-size: 1.4rem;
    }

    button {
        color: @highlight;
        font-weight: 400;
    }
}

a {
    color: @highlight;
    font-weight: 400;
    text-decoration: none;
}

img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-weight: 300;
    padding: 0;
}

.divider {
    display: flex;
    margin: 50px auto;
    max-width: 360px;
    width: 100%;

    .fas {
        color: @dark-beige;
        margin: 0 12px;
    }

    hr {
        border-top: 1px @dark-beige solid;
        flex: auto;
    }
}

.icon-label {
    align-items: center;
    display: flex;
    padding: 12px 24px;

    .fas, .far, .fab {
        font-size: 3.6rem;
        margin-right: 16px;
        text-align: right;
        width: 48px;
    }

    .fa-exclamation-triangle {
        color: @highlight;
        font-size: 2rem;
    }

    .icon-text {
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.2;

        strong, em {
            display: block;
            // font-size: 1.6rem;
            font-weight: 400;
        }
    }
}

.main-nav {
    background-color: rgba(0, 0, 0, .50);
    display: flex;
    flex-wrap: wrap;
    // font-size: 1.6rem;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;

    button {
        color: @white;
        margin: 12px;
        padding: 0;
        .transition;
        transition-property: color;

        &.btn-home {

        }

        &.btn-book-your-adventure {

        }

        &:hover {
            color: @highlight
        }
    }
}

.page-header {
    background-position: bottom center;
    background-size: cover;
    color: @white;
    display: flex;
    height: 40vw;

    header {
        margin: auto;
        text-align: center;

        h3 {
            font-weight: 300;
        }

        .btn-book-your-adventure {
            color: @white;
            .heading-font;
            margin-top: 48px;
            font-size: 4.8rem;
        }
    }
}

.page-body {
    padding-top: 60px;

    header {

        p {
            margin: 36px auto 0;
        }
    }

    article {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin: 24px auto;

        .content-block {
            padding: 24px 36px;

            header {
                margin-top: 96px;

                &:first-of-type {
                    margin-top: 0;
                }
            }

            h4 {
                font-weight: 300;
            }

            .divider {
                margin: 24px auto;
            }
        }

        .image-block {
            display: grid;
            grid-auto-flow: dense;
            grid-gap: 8px;
            grid-template-columns: repeat(6, 1fr);

            .span-full {
                grid-column: span 6;
            }

            .span-half {
                grid-column: span 3;
            }
        }

        .content-block, .image-block {

            &.span-full {
                grid-column: span 12;
            }

            &.span-half {
                grid-column: span 6;
            }

            &.span-thirds {
                grid-column: span 4;
            }
            
            &.span-two-thirds {
                grid-column: span 8;
            }
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.page {
    position: absolute;
    opacity: 0;
    .transition;
    transition-property: opacity;
    width: 100%;

    &.show {
        opacity: 1;
        transition-duration: 1s;
    }
    
    &.delete {
        height: 0;
        overflow: hidden;
        pointer-events: none;
    }

    &.home {

        .page-header {
            background-image: url('/images/alexis-ray-engagement-29.jpg');
            height: 100vh;
        }
    }
    
    &.accommodations {
    
        .page-header {
            background-image: url('/images/alexis-ray-engagement-24.jpg');
        }
    }
    
    &.getting-there {
    
        .page-header {
            background-image: url('/images/alexis-ray-engagement-32.jpg');
        }
    }
    
    &.things-to-do {
    
        .page-header {
            background-image: url('/images/alexis-ray-engagement-37.jpg');
        }
    }
    
    &.book-your-adventure {
    
        .page-header {
            background-image: url('/images/alexis-ray-engagement-29.jpg');
        }
    }
    
    &.wedding-schedule {
    
        .page-header {
            background-image: url('/images/alexis-ray-engagement-49.jpg');
        }
    }
    
    &.gallery {
    
        .page-header {
            background-image: url('/images/alexis-ray-engagement-32.jpg');
        }

        p {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }
    
    &.contact-us {
    
        .page-header {
            background-image: url('/images/alexis-ray-engagement-102.jpg');
        }
    }
    
    &.faqs {
    
        .page-header {
            background-image: url('/images/alexis-ray-engagement-66.jpg');
        }
    }
}



// .mobile-nav-container {
//     position: fixed;
//     z-index: 9999;
    
//     .menu-btn {
//         color: white;
//         padding: 16px;
//     }
    
//     .circle-icon, .menu-btn p {
//         display: inline-block;
//         vertical-align: middle;
//     }
    
//     .circle-icon {
//         border: 3px solid white;
//         border-radius: 50%;
//         height: 24px;
//         width: 24px;
//     }
    
//     .menu-btn p {
//         font-size: 1.8rem;
//         margin: 0;
//         text-transform: uppercase;
//     }

// }

// .mobile-nav {
//     background-color: rgba(0, 0, 0, .75);
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     height: ~"calc(100% - 96px - 48px)";
//     padding: 96px 48px 48px;
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: ~"calc(100% - 96px)";
// }

// .mobile-nav-btn {
//     color: white;
//     display: block;
//     font-size: 2.4rem;
//     font-weight: 300;
//     opacity: .7;
//     transition-property: opacity;
//     transition-duration: .25s;
//     transition-timing-function: ease-in;
//     width: 100%;
// }

// .mobile-nav-btn:hover {
//     opacity: 1;
// }

// hr {
//     border: none;
//     border-top: 1px #333 solid;
//     width: 100%;
// }