@font-face {
  font-family: 'Adlery Pro';
  src: url('/fonts/adlery-pro.swash.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/adlery-pro.swash.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/fonts/adlery-pro.swash.woff2') format('woff2'), /* Super Modern Browsers */ url('/fonts/AdleryPro-Swash.woff') format('woff'), /* Pretty Modern Browsers */ url('/fonts/AdleryPro-Swash.ttf') format('truetype'), /* Safari, Android, iOS */ url('/fonts/AdleryPro-Swash.svg#svgFontName') format('svg');
  /* Legacy iOS */
}
/* Colors */
html {
  font-size: 62.5%;
}
body {
  background-color: #111;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.4rem;
}
h1,
h2,
.swash {
  font-family: 'Adlery Pro', serif;
}
button {
  background-color: transparent;
  border: 0;
}
.header-section {
  background-image: url('../web/Alexis and Ray Engagement_Websize-010.jpg');
  background-size: cover;
  color: #eee;
  height: 100vh;
  display: flex;
  width: 100vw;
}
.header-section.blur {
  filter: blur(5px);
}
.header-section.blur .home-header {
  opacity: 0;
}
