@font-face {
    font-family: 'Adlery Pro';
    src: url('fonts/adlery-pro.swash.eot'); /* IE9 Compat Modes */
    src: url('fonts/adlery-pro.swash.eot#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('fonts/adlery-pro.swash.woff2') format('woff2'),
        /* Super Modern Browsers */ url('fonts/AdleryPro-Swash.woff')
            format('woff'),
        /* Pretty Modern Browsers */ url('fonts/AdleryPro-Swash.ttf')
            format('truetype'),
        /* Safari, Android, iOS */ url('fonts/AdleryPro-Swash.svg#svgFontName')
            format('svg'); /* Legacy iOS */
}

/* Colors */
@beige: #d5d6d0;
@black: #2a2a2a;
@dark-beige: #b5b6b1;
@highlight: #a85213;
@red: #900;
@white: #eee;
@shadow: #4d4833;

.heading-font() {
    font-family: 'Adlery Pro', serif;
}

.reading-font() {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

html {
    font-size: 62.5%;
}

body {
    background-color: @beige;
    color: @black;
    font-size: 1.6rem;
    line-height: 1.5;
    .reading-font;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
h3 {
    .heading-font;
}

h2 {
    line-height: 1.3;
}

h4 {
    margin-bottom: 12px;
}

h5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

h6 {
    font-size: 1.6rem;
    margin-top: 24px;
}

p {
    margin-bottom: 16px;
}

a {
    color: @highlight;
    font-weight: 400;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.fab {
    color: @dark-beige;
}

.fa-exclamation-triangle {
    color: @highlight;
}

.text-center {
    text-align: center;

    div {
        margin: 24px 0;

        p {
            font-size: 2rem;

            &:first-of-type {
                font-weight: bold;
                margin-bottom: 0;
            }
        }

        h3 {
            font-size: 4.8rem;
        }
    }
}

.icon-label {
    padding: 4px;
    margin: 0 auto;
    width: max-content;
    max-width: 100%;
}

.divider {
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 32px auto;
    width: 100%;

    .fas {
        background-color: @beige;
        grid-column: ~'1 / -1';
        grid-row: ~'1 / -1';
        padding: 0 12px;
        z-index: 1;
    }

    hr {
        border-top-color: @beige;
        color: transparent;
        grid-column: ~'1 / -1';
        grid-row: ~'1 / -1';
        width: 100%;
    }
}

@color-palette-a: #ffe7e3;
@color-palette-b: #c59595;
@color-palette-c: #6d693c;
@color-palette-d: #7d5c46;

.color-palette-section {
    display: block;
    margin: 24px auto;
    max-width: 480px;

    .color-palette-container {
        text-align: center;
        width: 100%;
    }

    .color-palette-shade {
        background-color: transparent;
        border-radius: 4px;
        height: 72px;
        width: 100%;

        &.primary {
            background-color: @color-palette-a;
        }

        &.secondary {
            background-color: @color-palette-b;
        }

        &.tertiary {
            background-color: @color-palette-c;
        }

        &.quaternary {
            background-color: @color-palette-d;
        }
    }

    p {
        margin: 6px auto 12px;
    }
}

.main-nav {
    background-color: #a1a29c;
    background-image: url('images/bg-b.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: 0;
    gap: 10px;
    padding-bottom: 24px;
    position: fixed;
    transition-duration: 0.24s;
    transition-property: background-color, transform;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    width: 100vw;
    z-index: 1;

    button {
        background-color: transparent;
        border: 0;
        color: @black;
        cursor: pointer;
        font-size: 1.8rem;
        outline: none;
        padding: 8px;
        width: 100%;

        &:hover {
            color: @highlight;
        }
    }

    .menu-toggle {
        background-color: @black;
        border-radius: 50%;
        color: @white;
        display: block;
        font-size: 1.4rem;
        height: 72px;
        margin: -84px auto 36px;
        padding: 0;
        transition-duration: 0.24s;
        transition-property: background-color, margin;
        transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        width: 72px;
    }

    &.main-nav-opened {
        .menu-toggle {
            background-color: @beige;
            color: @black;
            margin-bottom: 0;
            margin-top: -36px;
        }
    }

    &.main-nav-closed {
        transform: translateY(305px);
    }
}

.page {
    height: ~'calc(100vh - 64px)';
    overflow: auto;
    padding: 32px;
}

.page-header {
    header {
        text-align: center;

        h1 {
            font-size: 3.6rem;
            line-height: 1;
        }

        h4 {
            font-size: 2.4rem;
            font-weight: 300;
        }
    }
}

.page-body {
    article:last-of-type {
        padding-bottom: 96px;
    }
}

.home {
    background-image: url('images/alexis-ray-engagement-29.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;

    header {
        color: @white;

        h1,
        h4 {
            text-shadow: 2px 0 4px @black;
        }

        h1 {
            font-size: 4.8rem;
            text-indent: 32px;

            span {
                font-size: 7.2rem;
            }
        }
    }
}

.content-block {
    header {
        margin-top: 12px;
        text-align: center;
    }
}

.gallery-container {
    padding: 24px 0;
}

.image-container {
    padding: 8px 0;

    img {
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    }
}
