@font-face {
  font-family: 'Adlery Pro';
  src: url('fonts/adlery-pro.swash.eot');
  /* IE9 Compat Modes */
  src: url('fonts/adlery-pro.swash.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/adlery-pro.swash.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/AdleryPro-Swash.woff') format('woff'), /* Pretty Modern Browsers */ url('fonts/AdleryPro-Swash.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/AdleryPro-Swash.svg#svgFontName') format('svg');
  /* Legacy iOS */
}
/* Colors */
html {
  font-size: 62.5%;
}
body {
  background-color: #d5d6d0;
  color: #2a2a2a;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}
h1 {
  font-family: 'Adlery Pro', serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  max-width: 100%;
}
#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr auto;
  height: 100vh;
  overflow: hidden;
}
.main-nav {
  background-color: #2a2a2a;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  justify-content: center;
  padding: 20px;
}
.main-nav button {
  background-color: transparent;
  border: 0;
  color: #d5d6d0;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
  outline: none;
}
.main-nav button:hover {
  color: #a85213;
}
.page {
  background-image: url('images/bg-b.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  height: calc(100vh - 88px);
  overflow: auto;
}
.page-header header {
  text-align: center;
}
.page-header header h1 {
  font-size: 7.2rem;
}
.page-header header h4 {
  font-size: 2.4rem;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
